In [1]:
# Load EDA Pkgs
import pandas as pd
import neattext.functions as nfx

In [2]:
# Load ML/Rc Pkgs
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity,linear_kernel

In [3]:
df = pd.read_csv("Programming_courses.csv")

In [4]:
df.head()

   Unnamed: 0                                              Title
0           0  Python for Finance and Algorithmic Trading wit...
1           1  A deep understanding of deep learning (with Py...
2           2  The Python Mega Course: Build 10 Real World Ap...
3           3  The Ultimate MySQL Bootcamp: Go from SQL Begin...
4           4  The Ultimate MySQL Bootcamp: Go from SQL Begin...

In [5]:
dir(nfx)

['BTC_ADDRESS_REGEX',
 'CURRENCY_REGEX',
 'CURRENCY_SYMB_REGEX',
 'Counter',
 'DATE_REGEX',
 'EMAIL_REGEX',
 'EMOJI_REGEX',
 'HASTAG_REGEX',
 'MASTERCard_REGEX',
 'MD5_SHA_REGEX',
 'MOST_COMMON_PUNCT_REGEX',
 'NUMBERS_REGEX',
 'PHONE_REGEX',
 'PoBOX_REGEX',
 'SPECIAL_CHARACTERS_REGEX',
 'STOPWORDS',
 'STOPWORDS_de',
 'STOPWORDS_en',
 'STOPWORDS_es',
 'STOPWORDS_fr',
 'STOPWORDS_ru',
 'STOPWORDS_yo',
 'STREET_ADDRESS_REGEX',
 'TextFrame',
 'URL_PATTERN',
 'USER_HANDLES_REGEX',
 'VISACard_REGEX',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__generate_text',
 '__loader__',
 '__name__',
 '__numbers_dict',
 '__package__',
 '__spec__',
 '_lex_richness_herdan',
 '_lex_richness_maas_ttr',
 'clean_text',
 'defaultdict',
 'digit2words',
 'extract_btc_address',
 'extract_currencies',
 'extract_currency_symbols',
 'extract_dates',
 'extract_emails',
 'extract_emojis',
 'extract_hashtags',
 'extract_html_tags',
 'extract_mastercard_addr',
 'extract_md5sha',
 'extract_numbers',
 'extract_pattern',
 'extract_phone_numbers',
 'extract_postoffice_box',
 'extract_shortwords',
 'extract_special_characters',
 'extract_stopwords',
 'extract_street_address',
 'extract_terms_in_bracket',
 'extract_urls',
 'extract_userhandles',
 'extract_visacard_addr',
 'fix_contractions',
 'generate_sentence',
 'hamming_distance',
 'inverse_df',
 'lexical_richness',
 'markov_chain',
 'math',
 'nlargest',
 'normalize',
 'num2words',
 'random',
 're',
 'read_txt',
 'remove_bad_quotes',
 'remove_btc_address',
 'remove_currencies',
 'remove_currency_symbols',
 'remove_custom_pattern',
 'remove_custom_words',
 'remove_dates',
 'remove_emails',
 'remove_emojis',
 'remove_hashtags',
 'remove_html_tags',
 'remove_mastercard_addr',
 'remove_md5sha',
 'remove_multiple_spaces',
 'remove_non_ascii',
 'remove_numbers',
 'remove_phone_numbers',
 'remove_postoffice_box',
 'remove_puncts',
 'remove_punctuations',
 'remove_shortwords',
 'remove_special_characters',
 'remove_stopwords',
 'remove_street_address',
 'remove_terms_in_bracket',
 'remove_urls',
 'remove_userhandles',
 'remove_visacard_addr',
 'replace_bad_quotes',
 'replace_currencies',
 'replace_currency_symbols',
 'replace_dates',
 'replace_emails',
 'replace_emojis',
 'replace_numbers',
 'replace_phone_numbers',
 'replace_special_characters',
 'replace_term',
 'replace_urls',
 'string',
 'term_freq',
 'to_txt',
 'word_freq',
 'word_length_freq']

In [6]:
# Clean Text:stopwords,special charac
df['clean_course_title'] = df['Title'].apply(nfx.remove_stopwords)

In [7]:
# Clean Text:stopwords,special charac
df['clean_course_title'] = df['clean_course_title'].apply(nfx.remove_special_characters)

In [8]:
df[['Title','clean_course_title']]

,Title,clean_course_title
0,Python for Finance and Algorithmic Trading wit...,Python Finance Algorithmic Trading QuantConnect
1,A deep understanding of deep learning (with Py...,deep understanding deep learning with Python i...
2,The Python Mega Course: Build 10 Real World Ap...,Python Mega Course Build 10 Real World Applica...
3,The Ultimate MySQL Bootcamp: Go from SQL Begin...,Ultimate MySQL Bootcamp SQL Beginner Expert
4,The Ultimate MySQL Bootcamp: Go from SQL Begin...,Ultimate MySQL Bootcamp SQL Beginner Expert
...,...,...
4306,Azure Full Course - Learn Microsoft Azure in 8...,Azure Course Learn Microsoft Azure 8 Hours A...
4307,Create a C# Application from Start to Finish -...,Create C Application Start Finish Complete Co...
4308,Java Interview Questions and Answers | Java Tu...,Java Interview Questions Answers Java Tutoria...
4309,SQL Full Course | SQL Tutorial For Beginners |...,SQL Course SQL Tutorial Beginners Learn SQL ...
4310,Stored procedures in sql server Part 18,Stored procedures sql server 18

In [9]:
# Vectorize our Text
count_vect = CountVectorizer()
cv_mat = count_vect.fit_transform(df['clean_course_title'])

In [10]:
# Sparse
cv_mat

<4311x2750 sparse matrix of type '<class 'numpy.int64'>'
	with 21855 stored elements in Compressed Sparse Row format>

In [11]:
# Dense
cv_mat.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 1, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])

In [12]:
df_cv_words = pd.DataFrame(cv_mat.todense(),columns=count_vect.get_feature_names())

In [13]:
# Cosine Similarity Matrix
cosine_sim_mat = cosine_similarity(cv_mat)

In [14]:
cosine_sim_mat

array([[1.        , 0.1490712 , 0.15811388, ..., 0.        , 0.        ,
        0.        ],
       [0.1490712 , 1.        , 0.11785113, ..., 0.        , 0.        ,
        0.        ],
       [0.15811388, 0.11785113, 1.        , ..., 0.        , 0.08574929,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.12126781,
        0.        ],
       [0.        , 0.        , 0.08574929, ..., 0.12126781, 1.        ,
        0.32539569],
       [0.        , 0.        , 0.        , ..., 0.        , 0.32539569,
        1.        ]])

In [15]:
df.head()

,Unnamed: 0,Title,clean_course_title
0,0,Python for Finance and Algorithmic Trading wit...,Python Finance Algorithmic Trading QuantConnect
1,1,A deep understanding of deep learning (with Py...,deep understanding deep learning with Python i...
2,2,The Python Mega Course: Build 10 Real World Ap...,Python Mega Course Build 10 Real World Applica...
3,3,The Ultimate MySQL Bootcamp: Go from SQL Begin...,Ultimate MySQL Bootcamp SQL Beginner Expert
4,4,The Ultimate MySQL Bootcamp: Go from SQL Begin...,Ultimate MySQL Bootcamp SQL Beginner Expert

In [16]:
# Get Course ID/Index
course_indices = pd.Series(df.index,index=df['Title']).drop_duplicates()

In [17]:
df.Title[1]

'A deep understanding of deep learning (with Python intro)'

In [18]:
idx = course_indices['A deep understanding of deep learning (with Python intro)']

In [19]:
scores = list(enumerate(cosine_sim_mat[idx]))

In [20]:
# Sort our scores per cosine score
sorted_scores = sorted(scores,key=lambda x:x[1],reverse=True)

In [21]:
# Selected Courses Indices
selected_course_indices = [i[0] for i in sorted_scores[1:]]

In [22]:
# Selected Courses Scores
selected_course_scores = [i[1] for i in sorted_scores[1:]]

In [23]:
recommended_result = df['Title'].iloc[selected_course_indices]

In [24]:
rec_df = pd.DataFrame(recommended_result)

In [25]:
rec_df.head()

                                               Title
2073            Unsupervised Deep Learning in Python
3256         Deep Learning with Python and R: 2-in-1
3729                  Modern Deep Learning in Python
830   Machine Learning & Deep Learning in Python & R
831   Machine Learning & Deep Learning in Python & R

In [26]:
def recommend_course(title,num_of_rec=10):
    # ID for title
    idx = course_indices[title]
    # Course Indice
    # Search inside cosine_sim_mat
    scores = list(enumerate(cosine_sim_mat[idx]))
    # Scores
    # Sort Scores
    sorted_scores = sorted(scores,key=lambda x:x[1],reverse=True)
    # Recomm
    selected_course_indices = [i[0] for i in sorted_scores[1:]]
    selected_course_scores = [i[1] for i in sorted_scores[1:]]
    result = df['Title'].iloc[selected_course_indices]
    rec_df = pd.DataFrame(result)
    rec_df['similarity_scores'] = selected_course_scores
    return rec_df.head(num_of_rec)

In [27]:
recommend_course("Nonprofit Financial Stewardship Webinar: Introduction to Accounting and Financial Statements",20)

                                                  Title  similarity_scores
4095                               Financial Accounting           0.670820
4096                               Financial Accounting           0.670820
2750  SAP S4/HANA -Financial Accounting C_TS4FI_1909...           0.387298
2672                                  Introduction to R           0.316228
2673                                  Introduction to R           0.316228
2674                                  Introduction to R           0.316228
1024  Python for Financial Analysis and Algorithmic ...           0.282843
1222  Financial Engineering and Artificial Intellige...           0.282843
1540  Introduction to R Programming - Must See Intro...           0.282843
1581   Python & Machine Learning for Financial Analysis           0.282843
3296  Python and Machine Learning in Financial Analysis           0.282843
3925            New Ideas for Nonprofit Leaders Webinar           0.282843
1913  Python for Finance 2021: Financial Analysis fo...           0.258199
4121  Health Care Financial Management for Physician...           0.258199
1700                      Introduction to R Programming           0.223607
1884                  Introduction to Statistics with R           0.223607
2511                 Introduction to Clustering using R           0.223607
3475                     Introduction To The C Language           0.223607
3476                     Introduction To The C Language           0.223607
3713                                Introduction to SQL           0.223607